<nav class="navbar">
    <div class="container-fluid">
        <a href="/" class="nav-brand ">
            <img src="/assets/logo.svg" height="34px" alt="image">
        </a>
        <div class="nav-element-container">
            <p class="navbar-date 😜"></p>
            <div class="navbar-item 😜">
                <a href="javascript:void(0);" class="btn-icon">
                    <ion-icon name="help-circle-outline"></ion-icon>
                </a>
            </div>
            <div class="navbar-item 😜">
                <a href="javascript:void(0);" class="btn-icon">
                    <ion-icon name="information-circle-outline"></ion-icon>
                </a>
            </div>
            <div class="navbar-item 😜">
                <a href="javascript:void(0);" class="btn-icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </a>

            </div>
            <% if (user.role!=="user" ) { %>
            <div class="navbar-item dropdown">
                <a href="javascript:void(0);" class="btn-icon">
                    <ion-icon name="add-outline"></ion-icon>
                </a>
                <div class="dropdown-menu">
                    <ul class="dropdown-list">
                        <a href="/assignment">Add Assignment</a>
                        <a href="#">Delete Assignment</a>
                    </ul>
                </div>
            </div>
            <% } %>

            <div href="javascript:void(0);" class="navbar-item dropdown">
                <a href="javascript:void(0);" class="btn-icon">
                    <img src="<%= (user.thumbnail!==null)?user.thumbnail:'/assets/user-logo.png'%>" alt="">
                </a>
                <div class="dropdown-menu user-menu">
                    <a href="javascript:void(0);" class="user-wrapper">
                        <img src="<%= (user.thumbnail!==null)?user.thumbnail:'/assets/user-logo.png'%>"
                            alt="user image">
                        <p class="user-name">
                            <%= user.name %>
                        </p>
                        <p class="user-email">
                            <%= user.email %></small>
                        </p>
                    </a>
                    <ul class="dropdown-list">
                        <% if(user.role=='admin' ){ %>
                        <a href="/dashboard" class="list-group-item">
                            <ion-icon name="settings"></ion-icon>
                            <span>Settings</span>
                        </a>
                        <% } %>
                        <a href="/" class="list-group-item">
                            <ion-icon name="home"></ion-icon>
                            <span>Home</span>
                        </a>
                        <a class="list-group-item" href="/logout">
                            <ion-icon name="log-out"></ion-icon>
                            <span>Log Out</span>
                        </a>
                    </ul>
                    <div class="t-and-c">
                        <a class="t-and-c" href="">Privacy Policy</a><span>•</span><a class="t-and-c" href="">Terms
                            of Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<style>
    @media (max-width:700px) {
        .😜 {
            display: none;
            pointer-events: none;
        }
    }
</style>
<script>

    const customDate = () => {
        const d = new Date();
        const months = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ]
        const days = [
            'Sun',
            'Mon',
            'Tue',
            'Wed',
            'Thu',
            'Fri',
            'Sat'
        ]
        const date = `${days[d.getDay()]},${months[d.getMonth()]} ${d.getDate()}`
        var hours = d.getHours();
        const ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;
        const time = `${hours}:${d.getMinutes()} ${ampm}`
        return `${time} <span>•</span> ${date}`
    }
    const datePara = document.querySelector('.navbar-date')
    datePara.innerHTML = customDate()
    setInterval(() => { datePara.innerHTML = customDate() }, 30 * 1000)
    // datePara.innerHTML = customDate()
</script>