<%- include( 'partials/header.ejs') %>

<div class="container py-5" style="display: flex; justify-content: center;">
    <div class="card" style="width: 952px;">
        <img src="https://www.gstatic.com/classroom/themes/img_code.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <form action="/assignment/<%= user.id %>" method="POST">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </div>
                        <input name="name" type="text" class="form-control" placeholder="Assignment name">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </div>
                        <input name="description" type="text" class="form-control" placeholder="Description">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Information</label>
                    <textarea name="information" class="form-control" placeholder="Assignment Information"
                        rows="3"></textarea>
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>