<%- include( 'partials/header.ejs') %>

<main>
    <div class="container my-5">
        <div class="row g-3">
            <% assignments.forEach(assignment => { %>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header-img"
                        style="background-image: url('https://www.gstatic.com/classroom/themes/img_code.jpg');"></div>
                    <div class="card-body">
                        <a class="custom-a" href="/upload/<%= assignment.id %> ">
                            <p class="card-title"><%= assignment.name %> </p>
                        </a>
                        <p class="card-text">Creator: <%= assignment.creator.name %> </p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</main>